<svg class="weekly-trend-chart" (mousedown)="hidePopup($event)" preserveAspectRatio="xMinYMin meet" [attr.viewBox]="'0 0 ' + width + ' ' + height">
  <g class="title">
    <text>{{title + ' - Weekly'}}</text>
  </g>
  <g class="legend">
    <text>Legend</text>
    <g *ngFor="let label of LEGEND_LABELS; let i = index">
      <circle r="0.25em" [attr.fill]="MAIN_COLORS[i]" cx="-4em" [attr.cy]="3 - i + 'em'"></circle>
      <text x="-3.5em" [attr.y]="3.4 - i + 'em'">{{label}}</text>
    </g>
  </g>
  <g class="y label">
    <text [attr.x]="-margin.top - ((height-margin.top-margin.bottom)/2) + 'px'" y="25px">Angle Percentages</text>
  </g>
  <g class="y axis" [attr.transform]="'translate('+ margin.left +', 0)'"></g>
  <g class="x axis" [attr.transform]="'translate(0,' + (height - margin.bottom) + ')'"></g>
  <g class="data">
    <g class="columns">
      <g class="group" *ngFor="let data of bar_path_data" (mousedown)="showPopup($event, data.x, data.datum, this)">
        <path class="item" *ngFor="let color of MAIN_COLORS; let j = index"
              [attr.d]="data.paths[j]"
              [attr.fill]="color"
        ></path>
      </g>
    </g>
    <g class="areas">
      <g class="group" *ngFor="let data of area_path_data">
        <path class="item" *ngFor="let color of SECONDARY_COLORS; let j = index"
              [attr.d]="data.paths[j]"
              [attr.fill]="color"
        ></path>
      </g>
    </g>
    <g class="breaks">
      <g class="group" *ngFor="let data of break_path_data; let i = index">
        <path class="item" [attr.d]="data.path"></path>
      </g>
    </g>
    <g class="statistics mode">
      <g class="group" *ngFor="let data of mode_path_data">
        <g class="item" *ngFor="let color of MAIN_COLORS; let j = index">
          <path *ngIf="data.y[j] != -1"
                [attr.d]="data.path[j]"
                [style.visibility]="(statisticsVisible)?'visible':'hidden'"
                shape-rendering="crispEdges"
          ></path>
          <text *ngIf="data.y[j] != -1"
                [attr.x]="data.x + 3"
                [attr.y]="data.y[j]"
                [style.visibility]="(statisticsVisible)?'visible':'hidden'"
                text-anchor="start"
          >d</text>
          <text *ngIf="data.y[j] != -1"
                [attr.x]="data.x + bandWidth - 3"
                [attr.y]="data.y[j]"
                [style.visibility]="(statisticsVisible)?'visible':'hidden'"
                text-anchor="end"
          >{{data.datum.modes[j].toFixed(1)}}</text>
        </g>
      </g>
    </g>
    <g class="statistics mean">
      <g class="group" *ngFor="let data of mean_path_data">
        <g class="item" *ngFor="let color of MAIN_COLORS; let j = index">
          <path *ngIf="data.y[j] != -1"
                [attr.d]="data.path[j]"
                [style.visibility]="(statisticsVisible)?'visible':'hidden'"
                shape-rendering="crispEdges"
          ></path>
          <text *ngIf="data.y[j] != -1"
                [attr.x]="data.x + 3"
                [attr.y]="data.y[j]"
                [style.visibility]="(statisticsVisible)?'visible':'hidden'"
                text-anchor="start"
          >μ</text>
          <text *ngIf="data.y[j] != -1"
                [attr.x]="data.x + bandWidth - 3"
                [attr.y]="data.y[j]"
                [style.visibility]="(statisticsVisible)?'visible':'hidden'"
                text-anchor="end"
          >{{data.datum.means[j].toFixed(1)}}</text>
        </g>
      </g>
    </g>
  </g>
  <g class="popup" style="position: absolute">
    <rect
      [attr.width]="100"
      [attr.height]="32"
      [style.transform]="'translate(-45px, 16px)'"
    ></rect>
    <text *ngFor="let color of MAIN_COLORS; let i = index"
          [style.fill]="MAIN_COLORS[MAIN_COLORS.length - i - 1]"
          [style.transform]="'translate(5px, ' + (25 + 10*i) + 'px)'"></text>
  </g>
</svg>
<input
  type="checkbox"
  id="checkbox"
  [checked]="statisticsVisible"
  (change)="statisticsVisible = !statisticsVisible"/>
<label for="checkbox">Show Statistics</label>
