@import 'https://fonts.googleapis.com/css2?family=Comfortaa:wght@300';

.weekly-trend-chart text{
  font-family: 'Comfortaa', cursive;
  fill: black;
  font-size: 16px;
}

.weekly-trend-chart  {
  background-color: #FFFFFF;
}

.weekly-trend-chart ::selection {
  background: lightblue;
}

.weekly-trend-chart .y.axis,
.weekly-trend-chart .x.axis,
.weekly-trend-chart .y.label,
.weekly-trend-chart .legend,
.weekly-trend-chart .popup,
.weekly-trend-chart .data {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* TITLE */
.weekly-trend-chart .title text{
  font-size: 2.5rem;
  transform: translate(50%, 3.5rem);
  text-anchor: middle;
}
/*********/

/* LEGEND */
.weekly-trend-chart .legend {
  text-anchor: middle;
}

.weekly-trend-chart .legend>text {
  font-size: 1.5rem;
}

.weekly-trend-chart .legend .contents>text {
  text-anchor: start;
  font-size: 1rem;
}
/**********/

/* PATHS */
.weekly-trend-chart .mean {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

.weekly-trend-chart .mode {
  stroke: black;
  stroke-width: 1px;
  fill: none;
  stroke-dasharray: 6px;

}
/*********/

/* Y LABEL */
.weekly-trend-chart .y.label text{
  font-size: 1.4rem;
  text-anchor: middle;
  rotate: 270deg;
  transform: translateY(2rem);
}
/***********/

/* POPUP */
.weekly-trend-chart .popup text {
  font-size: 1rem;
  font-weight: bold;
  text-anchor: middle;
  padding: 1rem 0;
}

.weekly-trend-chart .popup rect {
  fill: #FFFFFF;
}
/*********/

/* AXES */
.weekly-trend-chart .y.axis line{
  stroke: lightgray;
  stroke-width: 1px;
}

.weekly-trend-chart .axis path {
  stroke: black;
  stroke-width: 1px;
}

.weekly-trend-chart .axis text{
  font-size: 1rem;
}
/********/

/* DATA */
.weekly-trend-chart .columns{
  opacity: 100%;
}

.weekly-trend-chart .columns text {
  font-size: .8rem;
}


.weekly-trend-chart .areas{
  opacity: 70%;
}

.weekly-trend-chart .breaks path {
  stroke: black;
  stroke-width: .5;
  fill: none;
}

.weekly-trend-chart .thresholds path {
  stroke: black;
  stroke-width: 1;
  fill: none;
}
/*********/

