@import 'https://fonts.googleapis.com/css2?family=Comfortaa:wght@300';


.daily-trend-chart text{
  font-family: 'Comfortaa', cursive;
  fill: black;
  font-size: 1em;
}

.daily-trend-chart ::selection {
  background: lightblue;
}

.daily-trend-chart {
  background-color: #FFFFFF;
}

.daily-trend-chart .y.axis,
.daily-trend-chart .x.axis,
.daily-trend-chart .y.label,
.daily-trend-chart .legend,
.daily-trend-chart .popup,
.daily-trend-chart .data {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.daily-trend-chart .title text{
  font-size: 1.5em;
  transform: translate(50%, 1.5em);
  text-anchor: middle;
}



.daily-trend-chart .legend {
  transform: translate(calc(100% - 45px), 50%);
  text-anchor: middle;
}

.daily-trend-chart .legend>text {
  transform: translateX(-10px);
  font-size: 1em;
}

.daily-trend-chart .legend g {
  text-anchor: start;
  font-size: .75em;
}



.daily-trend-chart .y.label text{
  font-size: 12px;
  text-anchor: middle;
  rotate: 270deg;
}

.daily-trend-chart .popup text {
  font-size: 8px;
  font-weight: bold;
  text-anchor: middle;
  visibility: hidden;
}

.daily-trend-chart .popup rect {
  visibility: hidden;
  fill: #FFFFFF;
}


/* AXES */
.daily-trend-chart .y.axis line{
  stroke: lightgray;
}

.daily-trend-chart .x.axis text{
  font-size: .9em;
}

.daily-trend-chart .axis path,
.daily-trend-chart .axis line {
  stroke-width: 0.5px;
}
/********/

/* DATA */
.daily-trend-chart .columns .group .item {
  stroke: none;
  opacity: 100%;
}

.daily-trend-chart .areas .group .item {
  stroke: none;
  opacity: 70%;
}

.daily-trend-chart .breaks .group .item {
  stroke: black;
  stroke-width: 0.5;
  fill: none;
}

.daily-trend-chart .statistics.mode .group .item path{
  stroke: black;
  stroke-width: 0.5;
  fill: none;
  stroke-dasharray: 1, 1;
}

.daily-trend-chart .statistics.mode .group .item text {
  font-size: .5em;
  font-weight: bold;
}

.daily-trend-chart .statistics.mean .group .item path{
  stroke: black;
  stroke-width: 0.5;
  fill: none;
}

.daily-trend-chart .statistics.mean .group .item text {
  font-size: .5em;
  font-weight: bold;
}
/*********/

