<svg class="daily-trend-chart" (mousedown)="hidePopup($event)" preserveAspectRatio="xMinYMin meet" [attr.viewBox]="'0 0 ' + width + ' ' + height">
  <g class="title">
    <text>{{title + ' - Daily'}}</text>
  </g>
  <g class="legend">
    <text>Legend</text>
    <g *ngFor="let label of LEGEND_LABELS; let i = index">
      <circle r="0.25em" [attr.fill]="MAIN_COLORS[i]" cx="-4em" [attr.cy]="1.25+i+'em'"></circle>
      <text x="-3.5em" [attr.y]="1.5 + i+'em'">{{label}}</text>
    </g>
  </g>
  <g class="y label">
    <text [attr.x]="-margin.top - ((height-margin.top-margin.bottom)/2) + 'px'" y="25px">Angle Percentages</text>
  </g>
  <g class="y axis" [attr.transform]="'translate('+ margin.left +', 0)'"></g>
  <g class="x axis" [attr.transform]="'translate(0,' + (height - margin.bottom) + ')'"></g>
  <g class="data">
    <g class="columns">
      <g class="group" *ngFor="let column of bar_path_data" (mousedown)="showPopup($event, column.x, column.datum, this)">
        <g class="item" *ngFor="let color of MAIN_COLORS; let j = index">
          <path [attr.d]="column.paths[j]"
                [attr.fill]="color"></path>

<!--          <text class="mean" [attr.x]="column.x" [attr.y]="column.dividers[j+1] + (column.dividers[j] - column.dividers[j+1])/2 ">mean: {{column.datum.means[j].toFixed(2)}}</text>-->
<!--          <text class="mean" [attr.x]="column.x" [attr.y]="10 + column.dividers[j+1] + (column.dividers[j] - column.dividers[j+1])/2 ">mode: {{column.datum.modes[j].toFixed(2)}}</text>-->
<!--          <text class="mean" [attr.x]="column.x" [attr.y]="20 + column.dividers[j+1] + (column.dividers[j] - column.dividers[j+1])/2 ">STD: {{column.datum.stds[j].toFixed(2)}}</text>-->
        </g>
      </g>
    </g>
    <g class="areas">
      <g class="group" *ngFor="let data of area_path_data">
        <path class="item" *ngFor="let color of SECONDARY_COLORS; let j = index"
              [attr.d]="data.paths[j]"
              [attr.fill]="color"
        ></path>
      </g>
    </g>
    <g class="breaks">
      <g class="group" *ngFor="let data of break_path_data; let i = index">
        <path class="item" [attr.d]="data.path"></path>
      </g>
    </g>
  </g>
  <g class="popup" style="position: absolute">
    <rect
      [attr.width]="100"
      [attr.height]="32"
      [style.transform]="'translate(-45px, 16px)'"
    ></rect>
    <text *ngFor="let color of MAIN_COLORS; let i = index"
          [style.fill]="MAIN_COLORS[MAIN_COLORS.length - i - 1]"
          [style.transform]="'translate(5px, ' + (25 + 10*i) + 'px)'"></text>
  </g>
</svg>
