<svg class="daily-trend-chart" (mousedown)="hidePopup()" preserveAspectRatio="xMinYMin meet" [attr.viewBox]="'0 0 ' + width + ' ' + height">
  <g class="title">
    <text>{{title + ' - Daily'}}</text>
  </g>
  <g class="legend" [style.transform]="'translate(' + (width - (margin.right / 2) + 10) + 'px , 50%)'">
    <text>Legend</text>
    <g class="contents">
      <circle *ngFor="let label of LEGEND_LABELS; let i = index" r="0.25em" [attr.fill]="MAIN_COLORS[i]" cx="-3.5em" [attr.cy]="3.3 - i + 'em'"></circle>
      <text *ngFor="let label of LEGEND_LABELS; let i = index" x="-2.8em" [attr.y]="3.7 - i + 'em'">{{label}}</text>
      <line class="mean"
            [attr.x1]="-62"
            [attr.x2]="-50"
            [attr.y1]="68"
            [attr.y2]="68"
            [style.visibility]="(statisticsVisible)?'visible':'hidden'"></line>
      <text x="-2.8em" y="4.7em" [style.visibility]="(statisticsVisible)?'visible':'hidden'">Mean</text>
      <line class="mode"
            [attr.x1]="-62"
            [attr.x2]="-50"
            [attr.y1]="83"
            [attr.y2]="83"
            style="stroke-dasharray: 4px"
            [style.visibility]="(statisticsVisible)?'visible':'hidden'"></line>
      <text x="-2.8em" y="5.7em" [style.visibility]="(statisticsVisible)?'visible':'hidden'">Mode</text>
    </g>
  </g>
  <g class="popup" style="position: absolute" (mousedown)="$event.stopPropagation()">
    <rect
      [attr.width]="200"
      [attr.height]="70"
      [style.transform]="'translate(-95px, 43px)'"
      [style.display]="(popupVisible) ? 'initial' : 'none'"
    ></rect>
    <text *ngFor="let color of TEXT_COLORS; let i = index"
          [style.fill]="TEXT_COLORS[TEXT_COLORS.length - i - 1]"
          [style.transform]="'translate(5px, ' + (4 + 1.2*i) + 'rem)'"
          [style.display]="(popupVisible) ? 'initial' : 'none'"
    ></text>
  </g>
  <g class="y label">
    <text [attr.x]="-margin.top - ((height-margin.top-margin.bottom)/2) + 'px'">Angle Percentages</text>
  </g>
  <g class="y axis" [attr.transform]="'translate('+ margin.left +', 0)'"></g>
  <g class="x axis" [attr.transform]="'translate(0,' + (height - margin.bottom) + ')'"></g>
  <g class="data">
    <g class="columns">
      <g class="areas">
        <g class="group" *ngFor="let data of area_data">
          <path class="item" *ngFor="let color of SECONDARY_COLORS; let j = index"
                [attr.d]="data[j]"
                [attr.fill]="color"
          ></path>
        </g>
      </g>
      <g class="breaks">
        <path *ngFor="let data of break_data" [attr.d]="data"></path>
      </g>
      <g class="column" *ngFor="let bar of bar_data" (mousedown)="showPopup($event, bar, this)">
        <g class="section" *ngFor="let color of MAIN_COLORS; let i = index">
          <rect
            [attr.x]="bar.x"
            [attr.width]="bandWidth"
            [attr.y]= "bar.y_bar[i+1] - 1"
            [attr.height]= "bar.y_bar[i] - bar.y_bar[i+1]"
            [attr.fill]=color></rect>
          <line class="mean"
                [attr.x1]="bar.x"
                [attr.x2]="bar.x + bandWidth"
                [attr.y1]="bar.y_mean[i]"
                [attr.y2]="bar.y_mean[i]"
                [style.display]="(bar.y_mean[i] != -1 && statisticsVisible) ? 'initial' : 'none'"
          ></line>
          <line class="mode"
                [attr.x1]="bar.x"
                [attr.x2]="bar.x + bandWidth"
                [attr.y1]="bar.y_mode[i]"
                [attr.y2]="bar.y_mode[i]"
                [style.display]="(bar.y_mode[i] != -1 && statisticsVisible) ? 'initial' : 'none'"
          ></line>
        </g>
      </g>
      <g class="thresholds" *ngFor="let datum of threshold_data">
        <text *ngFor="let threshold of [min_threshold, medium_threshold, high_threshold, max_threshold]; let i = index"
              [attr.x]="datum.x + bandWidth+2"
              [attr.y]="datum.y[i]"
              [style.display]="(statisticsVisible) ? 'initial' : 'none'">{{[this.min_threshold, this.medium_threshold, this.high_threshold, this.max_threshold][i] + '°'}}</text>
        <path *ngFor="let threshold of [min_threshold, medium_threshold, high_threshold, max_threshold]; let i = index"
              [attr.d]="datum.path[i]"
              [style.display]="(statisticsVisible) ? 'initial' : 'none'"></path>
      </g>
    </g>
  </g>
</svg>
<input
  type="checkbox"
  [id]="'checkboxFor' + selector"
  [checked]="statisticsVisible"
  (change)="statisticsVisible = !statisticsVisible; hidePopup()"/>
<label [for]="'checkboxFor' + selector">Show Statistics</label>
