@import 'https://fonts.googleapis.com/css2?family=Comfortaa:wght@300';


body {
  /*margin: 0;*/
  min-height: calc(100vh - 100px);
  min-width: calc(100vw - 100px);
  margin: 50px;

  background-color: darkgray;
}


/* General */
text {
  font-family: 'Comfortaa', cursive;
  fill: black;
}

.y.label text {
  font-size: 12px;
}

.title text{
  fill:  black;
  font-size: 24px;
}

/* Legend */
.legend text{
  font-size: 10px;
}

::selection {
  background: lightblue;
}


/* Axes */
.axis {
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.y.axis line{
  stroke: lightgray;
}

.axis text{
  font-size: 10px;
}

.area {
  stroke: none;
  opacity: 70%;
}


.barchart {
  background-color: #FFFFFF
}

.break {
  stroke: black;
  stroke-width: 0.5;
  fill: none;
}


/*!*!* Tooltip *!*!*/
/*!*.tooltip {*!*/
/*!*  width: 50px;*!*/
/*!*  height: 20px;*!*/
/*!*  min-width: 50px;*!*/
/*!*  min-height: 20px;*!*/
/*!*}*!*/
