@import 'https://fonts.googleapis.com/css2?family=Comfortaa:wght@300';

body {
  font-family: 'Comfortaa', cursive;
  /* background: linear-gradient(130deg,#6db4cafd 10%, #768fe0 80%); */

  /*Center  vertically*/
  margin: 0;
  min-height: calc(100vh - 100px);
  min-width: calc(100vw - 100px);
  padding: 50px;

  /*Center  horizontally*/
  text-align: center;
}

.axis path{
  stroke:black;
  stroke-width:1px ;
}

.axis line{
  stroke: black;
  stroke-width: 1px;
}

.axis text{
  fill: black;
  font-size: 12px;
  font-weight: bold;

  font-family: 'Comfortaa', cursive;
}

.legend text{
  fill:  black;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
}

.title {
  fill:  black;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
}

.bar-chart {
  min-width: 600px;
  min-height: 240px;
  width: 100%;
  height: 20%;
}
