@import 'https://fonts.googleapis.com/css2?family=Comfortaa:wght@300';


body {
  margin: 0;
  min-height: calc(100vh - 100px);
  min-width: calc(100vw - 100px);
  padding: 50px;

  background-color: darkgray;
}


/* General */
text {
  font-family: 'Comfortaa', cursive;
}

.title {
  fill:  black;
  font-size: 24px;
}

.bar-chart {
  min-width: 600px;
  min-height: 300px;
  width: 100%;
}

::selection {
  background: lightblue;
}


/* Axes */
.axis {
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: black;
}

.y.axis line{
  stroke: lightgray;
}

.axis text{
  font-size: 12px;
}


/* Legend */
.legend text{
  font-size: 12px;
}

.break {
  stroke: black;
  stroke-width: 0.5;
  fill: none;
}


/*!* Tooltip *!*/
/*.tooltip {*/
/*  width: 50px;*/
/*  height: 20px;*/
/*  min-width: 50px;*/
/*  min-height: 20px;*/
/*}*/
